@import "tailwindcss";

@theme {
  --font-sans: 'Source Sans 3', sans-serif;
}

html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}